<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title><%= title %></title>
		<script src="/javascripts/lib/jquery-2.1.3.min.js"></script>
		<script src="/javascripts/lib/underscore-1.8.3.min.js"></script>
		<script src="/javascripts/lib/socket.io-1.3.6.js"></script>
		<script src="/javascripts/io-chat.js"></script>
		<script src="/javascripts/canvas.js"></script>
		<link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.5.min.css" />
		<link rel="stylesheet" href="/stylesheets/font.css" />
		<link rel="stylesheet" href="/stylesheets/board.css" />
		<style>
.color {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: left;
}

.btn-color {
	width: 34px;
	height: 34px;
	padding: 0;
	margin: 0;
	float: right;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.yellow {
	background-color: yellow;
}
.pink {
	background-color: pink;
}

div.popup-container {
	box-sizing: content-box;
	z-index: 999;
	position: 'absolute';
	margin: 0;
	padding: 0;
}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="container">
					<div class="nav navbar-header">
						<a href="/" class="navbar-brand ikamodoki"><%= title %></a>
					</div>

					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<p class="navbar-text ikamodoki">なまえ</p>
							</li>
							<li id="name-container">
							</li>
							<li id="name-form-container" style="display: none;">
								<form id="name-form-navbar" class="navbar-form">
									<div class="form-group">
										<input type="text" id="name-navbar" class="form-control" />
									</div>
								</form>
							</li>
							<li>
								<a href="" id="name-edit">
									<span class="glyphicon glyphicon-cog"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			<div id="notification-container" class="alert alert-warning" role="alert" style="display: none;">
			</div>
			<div class="row">
				<div id="chat-container" class="col-md-6">
					<form action="" id="name-form" class="form-inline">
						<div class="form-group">
							<label for="name" class="ikamodoki">なまえ</label>
							<input type="text" id="name" class="form-control" />
							<button class="btn btn-default ikamodoki">さんかする!</button>
						</div>
					</form>
					<form action="" id="message-form" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-10">
								<input type="text" id="message" class="form-control" autocomplete="off" />
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-default">かきこむ</button>
							</div>
						</div>
					</form>
					<table class="table">
						<tbody id="messages">
							<% board.posts.reverse() %>
							<% for (var i = 0; i < board.posts.length; i++) { %>
							<tr>
								<td><%= board.posts[i].name %></td>
								<td><%= board.posts[i].message %></td>
								<td><%= board.posts[i].time %></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div id="stage-container" class="col-md-6">
					<form action="" id="stage-select" class="form-inline">
						<label for="stage" class="ikamodoki">ステージ</label>
						<select id="stage-selector" class="form-control">
							<% for (var i = 0; i < stages.length; i++) { %>
							<option value="<%= stages[i].value %>"><%= stages[i].name %></option>
							<% } %>
						</select>
						<label for="mode-selector" class="ikamodoki">ルール</label>
						<select id="mode-selector" class="form-control">
							<% for (var i = 0; i < modes.length; i++) { %>
							<option value="<%= modes[i].value %>"><%= modes[i].name %></option>
							<% } %>
						</select>
					</form>
					<form action="" id="line-style" class="form-inline">
						<div class="form-group">
							<label for="line-color" class="ikamodoki">いろ</label>
							<button id="color-button" class="btn btn-color" value="<%= colors[0] %>" style="background-color: <%= colors[0] %>;"></button>
						</div>
						<div class="form-group">
							<label for="line-width" class="ikamodoki">はば</label>
							<select id="line-width" class="form-control">
								<% for (var i = 0; i < widths.length; i++) { %>
								<option value="<%= widths[i].value %>"><%= widths[i].name %></option>
								<% } %>
							</select>
						</div>
						<button id="undo" class="btn btn-default">もどる</button>
						<button id="redo" class="btn btn-default">すすむ</button>
						<button id="clear" class="btn btn-default">クリア</button>
					</form>
					<canvas id="canvas" width="600" height="1000"></canvas>
				</div>
			</div>
		</div>
		<div id="color-popup-container" class="popup-container" style="display: none;">
			<% for (var i = 0; i < colors.length; i++) { %>
			<button id="<%= colors[i] %>" class="color" style="background-color: <%= colors[i] %>;"></button>
			<% } %>
		</div>
	</body>
</html>

