<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title><%= title %></title>
		<script src="/javascripts/lib/jquery-2.1.3.min.js"></script>
		<script src="/javascripts/lib/underscore-1.8.3.min.js"></script>
		<script src="/javascripts/lib/socket.io-1.3.6.js"></script>
		<script src="/javascripts/navbar.js"></script>
		<script src="/javascripts/io-chat.js"></script>
		<script src="/javascripts/canvas.js"></script>
		<link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.5.min.css" />
		<link rel="stylesheet" href="/stylesheets/font.css" />
		<link rel="stylesheet" href="/stylesheets/board.css" />
		<link rel="stylesheet" href="/stylesheets/sticky-footer.css" />
	</head>
	<body>

		<%- include navbar %>

		<div class="container">
			<div id="notification-container" class="alert alert-warning" role="alert" style="display: none;">
			</div>
			<div class="row">
				<div id="chat-container" class="col-md-6">
					<form action="" id="name-form" class="form-inline">
						<div class="form-group">
							<label for="name" class="ikamodoki">なまえ</label>
							<input type="text" id="name" class="form-control" />
							<button class="btn btn-default ikamodoki">さんかする!</button>
						</div>
					</form>
					<form action="" id="message-form" class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-10">
								<input type="text" id="message" class="form-control" autocomplete="off" />
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-default"><span class="ikamodoki">かきこむ</span></button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label for="autoscroll" class="ikamodoki">オートスクロール</label>
								<input type="checkbox" id="autoscroll" checked />
							</div>
						</div>
					</form>
					<table class="table">
						<tbody id="messages">
							<% board.posts.reverse() %>
							<% for (var i = 0; i < board.posts.length; i++) { %>
							<tr>
								<td><%= board.posts[i].name %></td>
								<td><%= board.posts[i].message %></td>
								<td><%= board.posts[i].time %></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div id="stage-container" class="col-md-6">
					<form action="" id="stage-form" class="form-horizontal">
						<div class="form-group stage-group">
							<label for="stage" class="ikamodoki col-sm-2 stage-label">ステージ</label>
							<div class="col-sm-4 stage-selector">
								<select id="stage-selector" class="form-control">
									<% for (var i = 0; i < stages.length; i++) { %>
									<option value="<%= stages[i].value %>"><%= stages[i].name %></option>
									<% } %>
								</select>
							</div>
							<label for="mode-selector" class="ikamodoki col-sm-2 stage-label">ルール</label>
							<div class="col-sm-4 stage-selector">
								<select id="mode-selector" class="form-control">
									<% for (var i = 0; i < modes.length; i++) { %>
									<option value="<%= modes[i].value %>"><%= modes[i].name %></option>
									<% } %>
								</select>
							</div>
						</div>
						<div class="form-group stage-group">
							<div class="col-xs-2">
								<label for="line-color" class="ikamodoki stage-label">いろ</label>
								<button id="color-button" class="btn btn-color" value="<%= colors[0] %>" style="background-color: <%= colors[0] %>;"></button>
							</div>
							<div class="col-xs-2">
								<label for="line-width" class="ikamodoki stage-label">はば</label>
								<button id="width-button" class="btn btn-default btn-width" value="<%= widths[1].value %>" style="background-image: url(<%= widths[1].src %>);">
								</button>
							</div>
							<div class="col-xs-3">
								<label for="stamp" class="ikamodoki stage-label">スタンプ</label>
								<input type="checkbox" id="stamp-checkbox" />
								<button id="stamp-button" class="btn btn-default btn-stamp" value="<%= stamps[0].value %>" style="background-image: url(<%= stamps[0].src %>);">
								</button>
							</div>
							<div class="col-xs-5">
								<button id="undo" class="btn btn-default">
									<span class="ikamodoki">もどる</span>
								</button>
								<button id="redo" class="btn btn-default">
									<span class="ikamodoki">すすむ</span>
								</button>
								<button id="clear" class="btn btn-default">
									<span class="ikamodoki">クリア</span>
								</button>
							</div>
						</div>
					</form>
					<canvas id="canvas" width="600" height="1000" class="text-center"></canvas>
				</div>
			</div>
		</div>

		<%- include footer %>

		<div id="color-popup-container" class="popup-container" style="display: none;">
			<% for (var i = 0; i < colors.length; i++) { %>
			<button id="<%= colors[i] %>" class="btn color" style="background-color: <%= colors[i] %>;"></button>
			<% } %>
		</div>
		<div id="width-popup-container" class="popup-container" style="display: none;">
			<% for (var i = 0; i < widths.length; i++) { %>
			<button id="<%= widths[i].value %>" class="btn btn-default width" value="<%= widths[i].src %>" style="background-image: url(<%= widths[i].src %>);"></button>
			<% } %>
		</div>
		<div id="stamp-popup-container" class="popup-container" style="display: none;">
			<% for (var i = 0; i < stamps.length; i++) { %>
			<button id="<%= stamps[i].value %>" class="btn btn-default stamp" value="<%= stamps[i].src %>" style="background-image: url(<%= stamps[i].src %>);"></button>
			<% } %>
		</div>
	</body>
</html>
